*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container.box{
    margin: 20px 150px;
}

#box-rosa{
    background-color: #ff859a;
    height: 100px;
}
#box-verde{
    background-color: #8cd48c;
    height: 300px;
}
#box-blu{
    background-color: #3257fc;
    height:500px
}
#box-viola{
    background-color: #ac53ac;
    height: 50px;

}
aside,main,section {
    background-color: #8efdee;
}
section{
    height:50px;
    margin-bottom: 20px;
}
aside,main{
    height: 200px;
}
main {
    width:60%;
    border: 10px;
}
aside{
    width: 20%;
}
.container.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.container.clearfix > *{
    float: left;
}
